
*{margin: 0; padding: 0;}

ul{list-style: none;}

a{text-decoration: none;}

header{
    width: 800px;
    height: 95px;
    background-color: #2d3a4b;
    position: relative;
}

/* 제목영역의 메인 로고 이미지 위치지정*/
#logo{
    position: absolute;
    top: 30px;
    left: 30px;
}

#top_menu{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 12px;
    color: white;
}

#top_menu a{color: white;}

/* nav 메뉴 */
nav{
    position: absolute;
    bottom: 10px;
    left: 220px;
    font-size: 16px;
}

nav li{
    display: inline;
    margin-left: 30px;
}

nav li a{color: white;}

/* 배너영역 */
#banner li{
    display: inline;
    margin-left: 50px;
}

footer{
    width: 800px;
    height: 90px;
    margin-top: 20px;
    background-color: #f1f1f1;
}

footer img{ margin: 10px 0 0 60px;}

#page{width: 820px; margin: 0 auto;}