/* 페이지별로 공통으로 적용되는 스타일이 존재함 */
/* 공통스타일만 모아놓은 별도의 css문서를 작성하고 이를 import하여 적용하기 */
@import url('./common.css');

/* 게시글 리스트 페이지의 스타일작업 */
.board_list{
    width: 100%; /* 테이블은 wrap이지만 100퍼로주면 안의 내용물이 균등하게 됨 */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse; 
    /*collapse: 테이블에는 셀을 구분짓는 영역이 기본적으로 되어있음. 그래서 선을 그려도 이상하게 나옴. 그러므로 구분을 없애줘야함*/
}

/* 테이블의 tr요소들의 아래 경계선을 그리기 */
.board_list tr{
    border-bottom: 1px solid #dddddd;
    /* border-color: aqua; */
}

/* 컬룸 제목줄의 아래 경계선 색상 변경 */
.column_title th{
    border-bottom: 1px solid black;
}

.board_list th, td{
    padding: 1rem 0;
    text-align: center;
    font-size: 1.4rem;
}

/* 칸별 너비 지정 */
.col_no{width: 15%;}
.col_title{width: 55%; text-align: left;}
.col_writer{width: 10%;}
.col_date{width: 10%;}
.col_hits{width: 10%;}

/* pagination */
.board_pagination{
    margin-top: 30px;
    text-align: center;
}

.btn{
    display: inline-block;
    width: 3.2rem;
    padding: 1rem 0;
    border: 1px solid #dddddd;
    font-size: 1.4rem;
}

/* 선택된 버튼의 스타일 */
.selected{
    background-color: black;
    color: white;
    border-color: black;
}